<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Create New Order</title>
  <meta charset="UTF-8">
  <style>
    .error { color: red; }
  </style>
  <script defer src="/calculateCost.js"></script>
</head>
<body>
<h2>Create New Order</h2>
<form action="#" th:action="@{/createOrder}" th:object="${orderDTO}" method="post">
  <div>
    <label for="dispatchCity">Dispatch City:</label>
    <input type="text" th:field="*{dispatchCity}" id="dispatchCity"/>
  </div>
  <div>
    <label for="deliveryCity">Delivery City:</label>
    <input type="text" th:field="*{deliveryCity}" id="deliveryCity"/>
  </div>
  <div>
    <label for="weight">Weight:</label>
    <input type="number" id="weight" name="weight" step="any" required><br>

    <label for="dimensions">Dimensions:</label>
    <input type="text" id="dimensions" name="dimensions" required><br>
  </div>
  <button type="button" onclick="calculateTotalCost()">Calculate Cost</button>
  <input type="submit" value="Submit">
  <div id="calculated-costs"></div>
</form>


<a href="#" th:href="@{/my-orders}">View My Orders</a>
<a href="#" th:href="@{/orders}">Go to orders page</a>

</body>
</html>

